################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Robust Captain Honk/v15
/Robust Captain Honk/Debug/Robust C.8AF4428F.tlog
/Robust Captain Honk/Debug
